.activeDashboard-enter {
  opacity: 0.01;
  transform: translateY(20%);
}
.activeDashboard-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 500ms ease-out;
}
.activeDashboard-exit {
  opacity: 0.01;
  transform: translateY(20%);
}
.activeDashboard-exit-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 500ms ease-out;
}


.workspaceDashboard-enter {
  opacity: 0.01;
  transform: translateX(20%);
}
.workspaceDashboard-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 800ms ease-out;
}
.workspaceDashboard-exit {
  opacity: 0.01;
  transform: translateX(20%);
}
.workspaceDashboard-exit-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 800ms ease-out;
}



.mainDashboard-enter {
  opacity: 0.01;
  transform: translateY(20%);
}
.mainDashboard-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 800ms ease-out;
}
.mainDashboard-exit {
  opacity: 1;
  transform: translateY(0%);
}
.mainDashboard-exit-active {
  opacity: 0.01;
  transform: translateY(20%);
  transition: all 800ms ease-out;
}
