.activeDashboard-enter {
  opacity: 0.01;
  transform: translateX(50%);
}
.activeDashboard-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-out;
}
.activeDashboard-exit {
  opacity: 1;
  transform: translateX(0%);
}
.activeDashboard-exit-active {
  opacity: 0.01;
  transform: translateX(50%);
  transition: all 300ms ease-out;
}
.mainDashboard-enter {
  opacity: 0.01;
  transform: translateX(50%);
}
.mainDashboard-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-out;
}
.mainDashboard-exit {
  opacity: 1;
  transform: translateX(0%);
}
.mainDashboard-exit-active {
  opacity: 0.01;
  transform: translateX(50%);
  transition: all 300ms ease-out;
}
